In [80]:
#LIBRAIRIES

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

pd.set_option('display.max_columns',10)


# DATASETS ---------------------------------------------

X_train = pd.read_csv('/Users/brianlz/Documents/DataScience/Titanic_Kaggle/DataSets/train.csv')
X_test = pd.read_csv('/Users/brianlz/Documents/DataScience/Titanic_Kaggle/DataSets/test.csv')

# DATA CLEANING ---------------------------------------------

# Y_train = X_train['Survived']
# 
# X_train = X_train.drop('PassengerId', axis=1)
# X_train = X_train.drop('Ticket', axis=1)
# X_train = X_train.drop('Cabin', axis=1)
# X_train = X_train.drop('Survived', axis=1)
# 
# X_test = X_test.drop('PassengerId', axis=1)
# X_test = X_test.drop('Ticket', axis=1)
# X_test = X_test.drop('Cabin', axis=1)
# 
data = [X_train, X_test]
# 
for entry in data:
    entry['Embarked'] = entry['Embarked'].fillna('S')
    entry['Embarked'] = entry['Embarked'].map({'S': 1, 'C': 2, 'Q': 3}).astype(int)
    entry['Sex'] = entry['Sex'].map({'male': 0, 'female': 1}).astype(int)
# 
# 
# # DATA ENRICHMENT ---------------------------------------------
# 
# # Extract the Title of each passenger
# 
for entry in data:
    entry['Title'] = entry.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    entry['Title'] = entry['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    entry['Title'] = entry['Title'].replace('Mlle', 'Miss')
    entry['Title'] = entry['Title'].replace('Ms', 'Miss')
    entry['Title'] = entry['Title'].replace('Mme', 'Mrs')

title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for entry in data:
    entry['Title'] = entry['Title'].map(title_mapping)
    entry['Title'] = entry['Title'].fillna(0)

In [86]:
X_train[['Title', 'Age']].groupby(['Title'], as_index = False).mean().sort_values(by='Age', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>45.545455</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>35.788991</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>32.368090</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>21.845638</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>4.574167</td>
    </tr>
  </tbody>
</table>
</div>

In [85]:
for entry in data:
    entry['Age'] = entry['Age'].map({})

In [75]:
X_train[['Title', 'Age']].groupby(['Title'], as_index = False).mean().sort_values(by='Age', ascending=False)

DataError: No numeric types to aggregate